<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UFO Sightings</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <div class="row">
        {{line-chart
          metrics=metrics
          dimension=dimensions.date
          group=groups.dateComposite
          startDate=startDate
          endDate=endDate
          brushOn=true
        }}
      </div>

      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          {{pie-chart
            dimension=dimensions.state
            group=groups.state
            all=groups.all
          }}
          <h4>States</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          {{row-chart
            dimension=dimensions.daysOfWeek
            group=groups.daysOfWeek
          }}
          <h4>Days of Week</h4>
        </div>
        <div class="col-xs-6 col-sm-6 placeholder">

          <h4>Label</h4>
        </div>
      </div>

      <div class="row">
        {{geo-choropleth-chart
          dimension=dimensions.state
          group=groups.state
          geoJSON=usStates
        }}
      </div>
    </div>
  </div>
</div>


